<!DOCTYPE html>
<html>
  <head>
    <title>Asmita's First Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="container">
    <div class="panel-heading" style="border-radius:10px;margin-top:2%;margin-bottom:2%;padding:2%;background-color:black;color:white;">
    <h1 style="font-family: Fantasy;">Asmita's Tech Blog</h1>
    </div>
    <p id="notice"><%= notice %></p>
    <%= alert %>
      <div class="text-right">
        <a href="/posts/new" class='btn btn-sm btn-warning'>Got Something To Share!! Write Here</a>
      </div>
    </div>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
